<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Gestor de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> <!-- chamar ficheiro style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.2/dist/sketchy/bootstrap.min.css" crossorigin="anonymous"> <!-- Bootstrap -->
    <link rel="preconnect" href="https://fonts.googleapis.com">  <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> <!-- Google Fonts -->
</head>
<body>
    <main class="container p-4">
        <h1 class="display-4 text-center mt-4 titulo">App de Gestão de Tarefas</h1>
        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto"> <!--Este div vai ocupar 4 colunas do espaço (centrado)-->
                <div class="card"> <!--Criação do objeto card-->
                    <div class="card-header">
                        <form action=""> <!-- Separamos o input do botão colocando o input neste form-group para que os elementos não estejam colados e haja separação entre eles -->
                            <div class="form-group">
                                <input type="text" name="conteúdo_tarefa" placeholder="Tarefa" class="form-control" autofocus> <!-- name="conteúdo_tarefa" ajuda para rotas -->
                            </div>
                            <button type="submit" class="btn btn-primary btn-block"> <!-- btn-block faz com que o botão ocupe toda a largura -->
                                Guardar
                            </button>
                        </form>
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>