<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Gestor de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> <!-- chamar ficheiro style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.2/dist/sketchy/bootstrap.min.css" crossorigin="anonymous"> <!-- Bootstrap -->
    <link rel="preconnect" href="https://fonts.googleapis.com">  <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> <!-- Google Fonts -->
</head>
<body>
    <main>
        <main class="container p-4">
            <h1 class="display-4 text-center mt-4 titulo">App de Gestão de Tarefas</h1>
        </main>
    </main>
</body>
</html>