<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Gestor de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> <!-- chamar ficheiro style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.2/dist/sketchy/bootstrap.min.css" crossorigin="anonymous"> <!-- Bootstrap -->
    <link rel="preconnect" href="https://fonts.googleapis.com">  <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> <!-- Google Fonts -->
</head>
<body>
    <main class="container p-4">
        <h1 class="display-4 text-center mt-4 titulo">App de Gestão de Tarefas</h1>
        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto"> <!--Este div vai ocupar 4 colunas do espaço (centrado)-->
                <div class="card"> <!--Criação do objeto card-->
                    <div class="card-header">
                        <form action="/criar-tarefa" method="post"> <!-- Separamos o input do botão colocando o input neste form-group para que os elementos não estejam colados e haja separação entre eles -->
                            <div class="form-group">
                                <input type="text" name="conteúdo_tarefa" placeholder="Tarefa" class="form-control" autofocus> <!-- name="conteúdo_tarefa" ajuda para rotas -->
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Guardar </button>  <!-- btn-block faz com que o botão ocupe toda a largura -->
                        </form>
                    </div>
                    <div class="card-body">
                        <!-- As etiquetas <ul> e <li> servem para criar listas em HTML -->
                        <ul>
                        <!-- Graças a Jinja pode-se introduzir código Python no nosso HTML e Python encarrega-se de o executar e interpretar -->
                        {% for tarefa in lista_de_tarefas %}
                            <li>{{tarefa.conteúdo}} </li> {% endfor %} <!-- conteúdo é a variável da classe Tarefa que armazena o texto da tarefa -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>